<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/layout :: header-css">
    <title>Danh sách đơn hàng</title>
</head>

<body>

<div th:replace="fragments/layout :: navbar"></div>

<div class="container mt-4">
    <div th:if="${successMessage}" class="alert alert-success" style="color: green; font-weight: bold; padding: 10px; border: 1px solid green; margin-bottom: 15px;">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" style="color: red; font-weight: bold; padding: 10px; border: 1px solid #ff0000; margin-bottom: 15px;">
        <span th:text="${errorMessage}"></span>
    </div>

    <h2 class="mb-4 fw-bold">📦 Danh sách đơn hàng</h2>

    <table class="table table-bordered table-striped shadow-sm align-middle">
        <thead class="table-dark text-center">
        <tr>
            <th>Mã đơn</th>
            <th>Thời gian đặt hàng </th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td class="text-muted small fw-bold">
                <span th:text="${order.id}"></span>
            </td>
            <td class="text-center small">
                <span th:text="${#dates.format(order.createdAt, 'dd/MM/yyyy HH:mm')}"></span>
            </td>
            <td class="text-center">
                <span class="badge bg-primary text-uppercase" th:text="${order.status}"></span>
            </td>
            <td>
                <a th:href="@{'/orders/chi-tiet/' + ${order.id}}"
                   class="btn btn-outline-info btn-sm fw-bold">
                    Chi tiết
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/layout :: footer"></div>

</body>
</html>